@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
:root {
  --color-black: #333333;
  --color-primary: #f24c3d;
  --color-secondary: #f2be22;
  --color-white: #f5f5f5;
}

.h-v-m {
  margin-bottom: 1rem !important;
}

.h-s-v-m {
  margin-bottom: 4rem !important;
}

.s-v-m {
  margin-bottom: 8rem !important;
}

.t-a-c {
  text-align: center !important;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  display: none;
}
html ::selection {
  background-color: var(--color-primary);
}
@media only screen and (max-width: 667px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 601px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 540px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 355px) {
  html {
    font-size: 30%;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.body--index, .body--menu {
  background-color: var(--color-white);
  padding: 1rem;
}
.body--index::before, .body--menu::before {
  background-color: inherit;
  content: "";
  display: block;
  height: 4rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@keyframes wave {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
.logo, .logo:link, .logo:active, .logo:visited {
  color: var(--color-secondary);
  display: block;
  font-family: "Viga", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

.heading-primary {
  text-transform: capitalize;
  text-align: center;
}
.heading-primary--color-white {
  color: var(--color-white);
}
.heading-primary--main {
  display: inherit;
  font-family: "Viga", sans-serif;
  font-size: 6rem;
  font-weight: 400;
}
.heading-primary--sub {
  display: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 797px) {
  .heading-primary--main {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 467px) {
  .heading-primary--main {
    font-size: 3.5rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
  }
}

.heading-secondary {
  font-family: "Viga", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: capitalize;
}
.heading-secondary--sub {
  color: var(--color-black);
}
.heading-secondary--main {
  color: var(--color-secondary);
}

.heading-tertiary {
  font-family: "Viga", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
}
.heading-tertiary--color-black {
  color: var(--color-black);
}
.heading-tertiary--color-secondary {
  color: var(--color-secondary);
}
.heading-tertiary--color-white {
  color: var(--color-white);
}
@media only screen and (max-width: 300px) {
  .heading-tertiary {
    font-size: 2rem;
  }
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.paragraph--color-white {
  color: var(--color-white);
}

.loading {
  align-items: center;
  bottom: 0;
  background-color: var(--color-black);
  display: flex;
  gap: 1rem;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;
}
.loading--hide {
  display: none;
}
.loading__bar {
  animation: wave 1s infinite;
  border-radius: 0.5rem;
  height: 6rem;
  width: 1rem;
  background-image: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
}
.loading__bar:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__bar:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__bar:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__bar:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__bar:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__bar:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__bar:nth-child(8) {
  animation-delay: 0.7s;
}
.loading__bar:nth-child(9) {
  animation-delay: 0.8s;
}
.loading__bar:nth-child(10) {
  animation-delay: 0.9s;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 164rem;
}

.header--index, .header--menu {
  border-radius: 0.5rem;
  background-color: var(--color-white);
  padding: 2rem 4rem;
  position: sticky;
  top: 1rem;
  z-index: 200;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.header--index > .wrapper, .header--menu > .wrapper {
  align-items: center;
  display: flex;
}
.header--index__hamburger, .header--menu__hamburger {
  display: none;
}
.header--index__hamburger__bar, .header--menu__hamburger__bar {
  background-color: var(--color-black);
  height: 2px;
}
.header--index__hamburger__bar:not(:last-child), .header--menu__hamburger__bar:not(:last-child) {
  margin: 0 0 0.5rem 0;
}
.header--index__hamburger__bar:nth-child(1), .header--menu__hamburger__bar:nth-child(1) {
  width: 2rem;
}
.header--index__hamburger__bar:nth-child(2), .header--menu__hamburger__bar:nth-child(2) {
  width: 4rem;
}
.header--index .logo, .header--menu .logo {
  margin: 0 4rem 0 0;
}
.header--index .navigation, .header--menu .navigation {
  margin: 0 auto 0 0;
}
@media only screen and (max-width: 540px) {
  .header--index > .wrapper, .header--menu > .wrapper {
    justify-content: space-between;
  }
  .header--index__hamburger, .header--menu__hamburger {
    display: block;
  }
  .header--index .logo, .header--menu .logo {
    margin: 0;
  }
}

.section-hero {
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  background-image: url("../images/food-bg.svg");
  background-size: 20%;
  height: calc(100vh - 11rem);
  position: relative;
}
.section-hero__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-hero__gif {
  width: 24rem;
}
.section-hero__gif > img {
  display: inherit;
  width: 100%;
}
.section-hero .heading-primary {
  margin: 0 0 4rem 0;
}
@media only screen and (min-width: 800px) {
  .section-hero {
    background-size: 8%;
  }
}

.section-features > .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 38rem);
  gap: 4rem;
  justify-content: center;
}

.section-about > .wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 80rem);
  gap: 4rem;
  justify-content: center;
}
.section-about__container {
  height: 40rem;
  position: relative;
}
.section-about__image {
  position: absolute;
  width: 65%;
}
.section-about__image:nth-child(1) {
  left: 0;
  top: 0;
  z-index: 20;
}
.section-about__image:nth-child(2) {
  right: 0;
  bottom: 0;
  z-index: 10;
}
.section-about__image > img {
  display: inherit;
  width: 100%;
}
.section-about .heading-tertiary {
  margin: 0 0 2rem 0;
}
.section-about .paragraph {
  margin: 0 0 6rem 0;
}
@media only screen and (max-width: 467px) {
  .section-about > .wrapper {
    grid-template-columns: repeat(auto-fit, 60rem);
  }
}
@media only screen and (max-width: 300px) {
  .section-about > .wrapper {
    grid-template-columns: repeat(auto-fit, 55rem);
  }
}

.section-menu > .wrapper {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, 80rem);
  gap: 4rem;
  justify-content: center;
}
@media only screen and (max-width: 467px) {
  .section-menu > .wrapper {
    grid-template-columns: repeat(auto-fit, 60rem);
  }
}
@media only screen and (max-width: 300px) {
  .section-menu > .wrapper {
    grid-template-columns: repeat(auto-fit, 55rem);
  }
}

.section-order {
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--color-black);
  background-image: url("../images/wood-bg.svg");
  background-size: 60%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.section-order__container:nth-child(1) > *:not(:last-child) {
  margin: 0 0 1rem 0;
}
.section-order__container:nth-child(2) {
  align-items: center;
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 540px) {
  .section-order {
    flex-direction: column;
    gap: 2rem;
  }
  .section-order__container:nth-child(1) > * {
    text-align: center;
  }
}

.section-contact > .wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 80rem);
  gap: 4rem;
  justify-content: center;
  justify-items: center;
}
.section-contact__container > *:not(:last-child) {
  margin: 0 0 2rem 0;
}
.section-contact__image {
  height: 8.75rem;
}
.section-contact__image > img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.footer {
  border-radius: 0.5rem;
  background-color: var(--color-black);
  padding: 2rem 4rem;
}
.footer > .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 540px) {
  .footer > .wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

.navigation {
  align-items: center;
  display: flex;
  gap: 2rem;
}
.navigation__link, .navigation__link:link, .navigation__link:active, .navigation__link:visited {
  border-bottom: 2px solid transparent;
  color: var(--color-black);
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s;
}
.navigation__link:hover {
  border-bottom: 2px solid var(--color-primary);
}
@media only screen and (max-width: 540px) {
  .navigation {
    align-items: flex-start;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 112%;
    transform: translateY(-105vh);
    transition: all 0.4s;
    visibility: hidden;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
  }
  .navigation--active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.menu {
  border: 0.5px dashed var(--color-black);
  border-radius: 0.5rem;
  max-width: 80rem;
  padding: 2rem;
}
.menu > .menu-card {
  padding: 0 2rem;
}
.menu > .menu-card:not(:last-child) {
  border-bottom: inherit;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.food-card {
  border-radius: 0.5rem;
  background-color: var(--color-white);
  cursor: default;
  padding: 2rem;
  position: relative;
  transition: all 0.4s;
  width: 38rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.food-card:hover {
  transform: rotate(4deg);
}
.food-card__image {
  height: 24rem;
  left: -5rem;
  position: absolute;
  top: -6.25rem;
  transform: rotate(10deg);
}
.food-card__image > img {
  display: inherit;
  height: 100%;
}
.food-card__dish-image {
  height: 20rem;
  margin: 0 0 2rem 0;
}
.food-card__dish-image > img {
  display: inherit;
  height: 100%;
  margin: 0 auto;
}
.food-card > *:not(.food-card__image, :last-child) {
  margin: 0 0 1rem 0;
}

.menu-card {
  align-items: center;
  cursor: default;
  display: flex;
  transition: all 0.4s;
}
.menu-card:hover {
  transform: scale(1.02);
}
.menu-card__image {
  margin: 0 2rem 0 0;
  width: 10rem;
}
.menu-card__image > img {
  display: inherit;
  width: 100%;
}
.menu-card > .heading-tertiary:not(:last-child) {
  margin: 0 auto 0 0;
}

.number-card {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.map {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  display: block;
  height: 40rem;
  padding: 0.5rem;
  width: 80rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 540px) {
  .map {
    height: 30rem;
    width: 60rem;
  }
}
@media only screen and (max-width: 300px) {
  .map {
    width: 55rem;
  }
}

.btn-primary, .btn-primary:link, .btn-primary:active, .btn-primary:visited {
  border: 2px solid transparent;
  border-radius: 6rem;
  background-color: var(--color-white);
  color: var(--color-secondary);
  display: inline-block;
  font-family: "Viga", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 2rem 4rem;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.4s;
}
.btn-primary:hover {
  border: 2px solid var(--color-black);
}

.btn-secondary, .btn-secondary:link, .btn-secondary:active, .btn-secondary:visited {
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: inline-block;
  font-family: "Viga", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.4s;
}
.btn-secondary:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.btn-secondary:active {
  box-shadow: none;
}

.icon-primary, .icon-primary:link, .icon-primary:active, .icon-primary:visited {
  display: block;
  height: 3rem;
  text-decoration: none;
  transition: all 0.4s;
  width: 3rem;
}
.icon-primary:hover {
  transform: scale(1.2);
}
.icon-primary > svg {
  display: inherit;
  height: 100%;
  width: 100%;
}

.icon-secondary {
  display: block;
  height: 3rem;
  width: 3rem;
}

/*# sourceMappingURL=style.css.map */
